@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

html, body, #q-app {
  height: 100%;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #263238;
}

.ttoc-header-title {
  font-weight: 600;
  letter-spacing: -0.2px;
}

.ttoc-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
}

.ttoc-title span{
  position: relative;
}

.ttoc-title .ttoc-border {
  position: absolute;
  width: 99%;
  height: 40%;
  background: #fff176;
  bottom: 0px;
}

.router-view-area {
  height: 100%;
  padding-top: 82px;
}
